<html>
	<head>
		<title>Bobby's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<style>
		.parallax {
	    /* The image used */
	    background-image: url("images/keyboard2.jpg");
	    /* Set a specific height */
	    min-height: 500px;
	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
			border-radius: 13px;
		}
		.parallax2 {
			/* The image used */
			background-image: url("images/dojo.jpeg");
			/* Set a specific height */
			min-height: 200px;
			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 13px;
		}
		.parallax3 {
			/* The image used */
			background-image: url("images/blackhoneycomb.jpeg");
			/* Set a specific height */
			min-height: 200px;
			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 13px;
		}
	</style>

	<body>

	<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1 class="animated bounceInDown">Bobby Chuong</h1>
						<h2 class="animated bounceInDown">Web Developer</h2>
					</header>
				</div>
		<!-- Scroll Down button -->
				<section id="section06" class="demo">
					<a><span></span></a>
				</section>
			</section>

<br>

			<div class="parallax2"></div>

<br>
				<!-- Section -->
					<section class="wrapper style1">

						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
													<figure><a class="link"><img src="images/Linkedin_pro.jpg" alt="" /></a></figure>
										</div>
									</div>

									<div class="col col2">
                    <div class="row content">
										<h1 class="about">About Me</h1>
										<h3 class="animated lightSpeedIn aboutme">Prior computer science student, turned boot camp graduate determined to master the practical application of building with code.
											 	Strong foundations in: MEAN, Ruby On Rails, and Python. Always up for a challenge and committed to win!</h3>
										<!-- <a href="#" class="button">Learn More</a> -->
									</div>
								</div>
						</div>

					</section>

<hr />
					<!-- Parallax -->
					<div class="parallax"></div>
<hr>
				<!-- Section -->

					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h1 class="project">Projects</h1>
							</header>
							<div class="flex flex-3">

								<div class="col align-center">
									<div id="theatre">
										<em id="curtain-left"></em>
										<em id="curtain-right"></em>
										<h3>Show Room</h3>
										<p>Television application where users sign up, view their top shows, and add upcoming favorites to their dashboard.</p>
									<div id="slideshow">
										<div class="slideshow2">
											<img src="images/rsz_showroom.jpg"/>
										</div>
										<div>
											<img src="images/rsz_showroom_allshows.jpg"/>
										</div>
									</div>
									<p>Technologies: Html, CSS, Javascript, MongoDB, AngularJS, ExpressJS, Materialize, Tv Maze Api, Twilio Api, Sockets, Dependency Injection</p>
								</div>
							</div>

								<div class="col align-center">
									<div id="theatre">
										<em id="curtain-left"></em>
										<em id="curtain-right"></em>
										<h3>Street Chow</h3>
										<p>Postgres application connecting homeless people with local free meals. Users who sign up are able to see their location on google maps </p>
									<div id="slideshow3">
										<div class="slideshow4">
											<img src="images/StreetChow - Copy.jpg" width="100%" height="100%"/>
										</div>
									</div>
									<p>Technologies: Html, CSS, Javascript, Django, PostGres, BootStrap, Google Maps Api, Google Maps Marker</p>
								</div>
							</div>
						</div>

					</section>
<br>
<div class="parallax3"></div>
<br>

					<!-- Section -->
						<section class="wrapper style2">
							<h1 class="myskills">Skills</h1>
								<div class="animated zoominUp skills" id="skills">
									<div class="skill_boxes">
										<img src="http://icons.iconarchive.com/icons/cornmanthe3rd/metronome/512/Other-html-5-icon.png">
									</div>
									<div class="skill_boxes">
										<img src="http://icons.iconarchive.com/icons/martz90/hex/512/css-3-icon.png">
									</div>
									<div class="skill_boxes">
										<img src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-128.png">
									</div>
									<div class="skill_boxes">
										<img src="https://wikiprogramming.org/wp-content/uploads/2016/10/jquery-icon.png">
									</div>
									<div class="skill_boxes">
										<img src="https://s-media-cache-ak0.pinimg.com/originals/fa/82/25/fa8225c085a5b740433786f96bdad109.png">
									</div>
								</div>

						  <div class="animated zoominUp skills" id="skills2">
								<div class="skill_boxes">
									<img src="https://camo.githubusercontent.com/6795c053f2fafee4d1c76f3a181876013827dd5e/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333437303430322f313230383630372f32376637643134322d323564362d313165332d386330372d6139316532633736396435322e706e67">
								</div>
								<div class="skill_boxes">
									<img src="https://codeyourfuture.co/img/ico/nodejs.svg">
								</div>
								<div class="skill_boxes">
									<img src="http://apps.octoconsulting.com/images/expressIcon.png">
								</div>
								<div class="skill_boxes">
									<img src="http://www.unixstickers.com/image/cache/data/stickers/django/dj-neg2.sh-600x600.png">
								</div>
						  </div>

							<div class="animated zoominUp skills" id="skills3">
								<div class="skill_boxes">
									<img src="http://blog.shajahanbasha.in/wp-content/uploads/2016/04/mongodb-logo-1.png">
								</div>
								<div class="skill_boxes">
									<img src="https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/mysql-icon.png">
								</div>
								<div class="skill_boxes">
									<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/465px-Postgresql_elephant.svg.png">
								</div>
							</div>
							<div class="animated zoominUp skills" id="skills4">
								<div class="skill_boxes">
									<img src="http://www.seeicons.com/images/iconstore/512/seeicons__57e90b703eba6.png">
								</div>
								<div class="skill_boxes">
									<img src="http://imgh.us/materializecss.svg">
								</div>
								<div class="skill_boxes">
									<img src="http://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg">
									<figcaption>Learning<br>In<br>Progress</fig>
								</div>
							</div>
						</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<h1 class="contact_me">Contact</h1>
        </div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://github.com/bobbychuong" class="icon fa-github-alt" style="margin-left:22px;"><span class="label">GitHub</span></a></li>
						<li><a href="https://www.linkedin.com/in/bobby-chuong-ba2261a4/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
						<li><a href="https://www.instagram.com/bobbyxjai/" class="icon fa-instagram"><span class="label">GitHub</span></a></li>
						<li><a href="https://soundcloud.com/bobby-chuong" class="icon fa-soundcloud"><span class="label">GitHub</span></a></li>
						<br>
						<li><a= class="icon fa-envelope"></a></li>
						<li><input type="text" oncopy="myFunction()" value="BobbyChuong@gmail.com" class="animated infinite pulse" style="border:rgb(72, 72, 72) solid 1px;"/></li><p id="demo" style="display:inline-block;color:#white;">Copy?</p>
					</ul>

					<div class="bottom">
						<p>Bobby Chuong © 2017</p>
					</div>
				</div>

			</footer>
	</body>

</html>
